<div style="height:70px"></div>
<style>
  .navbar-default {
    background: #021c1e;
    height: 70px;
  }
  .navA {
    font-size: 19px;
    line-height: 45px;
    color: white;
  }
  span,
  div,
  li,
  ul,
  button,
  input {
    font-family: -apple-system;
  }
</style>
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar-collapse"
        style="margin-top:18px;"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="/" id="n-here"
        ><!--<img style='width:30px; float:left;margin-top:5px;'src='/rsrc/whitelogo.png'></img>-->
        <span
          style="color:white;line-height:40px; font-family: -apple-system,apple-chancery;font-size:25px;"
          >&nbsp;&nbsp;MedKick</span
        ></a
      >
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>
